
<link href='http://fonts.googleapis.com/earlyaccess/hanna.css'>

<html lang="en">

    <!-- Header -->
    <header id="top" class="header" style="background-color:black ;color:yellow; font-family:Hanna">
        <div class="text-vertical-center">
            <h1 style="font-family:Hanna">질문을 수정합시다</h1>
            <h3> <form action="/update/<%=@question.id%>"style='width:700px ; margin:auto' method='post'><input type='text'name='input_name' placeholder="이름" class='form-control' value=<%=@question.name%>><br>
                <textarea type='text'name='input_content'  style='width:200px ; margin:auto ; width:700px ; height:400px' class='form-control'  placeholder='살짝이라기엔 너무 긴 빈칸' value=<%=@question.content%>></textarea><br>
                <input type='submit'value='수정' style="width:150px; height:80px ; size:30px; font-size:50px;background-color:yellow"class="btn btn-default"></form></h3>
        
        
        </div>
    </header>
    <!-- About -->
    <section id="about" class="about" style="font-family:Hanna">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>성공회대학교 멋쟁이사자처럼 김혜린</h2>
                    <p class="lead">궁금한점 수정 페이지</p>
                </div>
            </div>
        </div>
    </section>