<link href='http://fonts.googleapis.com/earlyaccess/hanna.css'>

<html lang="en">

    <header id="top" class="header" style="background-image:url('bg.jpg') ; font-family:Hanna">
        <div class="text-vertical-center">
            <h1 style="font-family:Hanna">궁금한게 있나요?</h1>
            <h3><form action="questions/create" method="post"><input type='text'name='input_name' placeholder="이름"class='form-control' style="width:700px ; margin:auto"><br>
            <textarea type='text' name='input_content' placeholder='내용을 입력해주세요' class="form-control" style="width:700px; margin:auto"></textarea>
            <br><input type='submit'value='질문하기!' style="width:100px; height:80px ; size:30px ; background-color:blue ; color:white"class="btn btn-default"></form></h3>
            <br>
        </div>
    </header>
    <!-- About -->
    <section id="about" class="about" style="font-family:Hanna">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>성공회대학교 멋쟁이사자처럼 김혜린</h2>
                    <p class="lead">궁금한점 입력 & 결과 페이지</p>
                </div>
            </div>
        </div>
    </section>